
#header {
  width: 100px;
  background-color: #63a8a4;
}
#nav {width: 100px;
  background-color: #63a8a4;}

  #header {
  float: Left;
  width: 200px;
  background: lightblue;
}
#nav {
  float: right;
  width: calc(100% - 200px);
  background: lightgreen;
}

#img {
    Float: Left;
  width: calc(100% - 200px);
  background: lightgreen;

}